.container {
    background: radial-gradient(ellipse at top, #deebff, transparent), radial-gradient(ellipse at bottom, #555, transparent);
    border-radius: 50% 50% 10% 10%;
    height: 6rem;
    margin: auto;
    position: relative;
    width: 6rem;
}

.container .ball{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}