.containerBoard {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0.1rem dotted dimgrey;
    padding: 1rem;
}

.containerWrapper {
    height: 6rem;
    width: 6rem;
    margin: 0.5rem;
}

.description {
    margin-top: 2rem;
    font-size: calc(2vmin);
}