.containerBoard {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerWrapper {
    height: 6rem;
    width: 6rem;
    margin: 0.5rem;
}

.description {
    font-size: calc(2vmin);
}