.containerBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerWrapper {
    height: 6rem;
    /* TODO: set this property dynamically on JS to support NR_SHELLS per row */
    width: calc(100% * (1/3));
}